/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  background: #222831;
  color: #eee;
  font-size: 13px;
}

a {
  color: #eee;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #3E9CDC;
}

.main {
  background: #222831;
  margin-bottom: 80px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.stopscroll {
  overflow: hidden;
}

.btn {
  width: 183px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 4px;
}
.btn_blue {
  color: #eee;
  background: #3E9CDC;
  border: 1px solid #eee;
}
.btn_light {
  color: #2A2B30;
  background: #eee;
  border: 1px solid #6F6D7B;
}
.btn:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: rgba(16, 16, 29, 0.9);
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  height: 100px;
}

.header__btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}
@media screen and (max-width: 699px) {
  .header__btn {
    display: block;
  }
}

.header__btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #eee;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.header__btn span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__btn span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__btn.open span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header__btn.open span:nth-child(2) {
  opacity: 0;
}

.header__btn.open span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.logo {
  z-index: 9;
}
.logo__image {
  width: 247px;
}
@media screen and (max-width: 699px) {
  .logo__image {
    width: 220px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 699px) {
  .menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    padding: 90px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgb(16, 16, 29);
  }
  .menu.open {
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .menu__list {
    gap: 25px;
  }
}
@media screen and (max-width: 699px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__link {
  font-weight: 600;
}
.menu__link-active {
  color: #3E9CDC;
}
@media screen and (max-width: 699px) {
  .menu__link {
    font-size: 20px;
  }
}

.hero {
  background: url(./../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 203px;
  padding-bottom: 203px;
}
@media screen and (max-width: 699px) {
  .hero {
    padding-bottom: 170px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    padding-top: 170px;
    padding-bottom: 120px;
  }
}

.hero__title {
  max-width: 780px;
  color: #3E9CDC;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.hero__title span {
  color: #000;
}
@media screen and (max-width: 699px) {
  .hero__title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 390px) {
  .hero__title {
    font-size: 28px;
  }
}

.hero__list {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 80px;
}
.hero__list figcaption {
  margin-bottom: 10px;
}
.hero__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.hero__list li {
  font-weight: 400;
}
.hero__list li::before {
  content: "-";
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 699px) {
  .hero__list {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 699px) {
  .hero__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
  background: #3D4050;
}

.footer__text {
  color: #eee;
}

.footer__link {
  text-decoration: underline !important;
}
.footer__link:hover {
  color: #eee;
  text-decoration: none !important;
}