// Base
@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/base';

// Blocks
@import './blocks/header';
@import './blocks/logo';
@import './blocks/menu';
@import './blocks/hero';
@import './blocks/order';
@import './blocks/work-scheme';
@import './blocks/footer';
