.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  z-index: -1;
  background: $footer-bg;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    height: 80px;

    @media screen and (max-width: 1032px) {
      height: 140px;
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
}

.footer__copyrigh {
  color: $white;
}

.footer__personal-link {
  text-decoration: underline !important;

  &:hover {
    color: $white;
    text-decoration: none !important;
  }
}

.footer__payment {
  color: $gray;
  display: flex;

  gap: 38px;
  padding-left: 42px;
  padding-right: 42px;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;

  @media screen and (max-width: 1032px) {
    border: none;
  }

  &__qiwi {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__yandex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__web-money {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.footer__contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 38px;
}

.footer__mail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__vk {
  display: flex;
  align-items: center;
  gap: 10px;
}
