.hero {
  // position: relative;
  // z-index: 1;
  background: url(./../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 203px;
  padding-bottom: 203px;

  @include mediaTablet {
    padding-bottom: 170px;
  }

  @include mediaPhone {
    padding-top: 170px;
    padding-bottom: 120px;
  }
}

.hero__title {
  max-width: 780px;
  color: $accent;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 80px;

  span {
    color: $black;
  }

  @include mediaTablet {
    font-size: 38px;
    text-align: center;
    margin-bottom: 60px;
  }
  @include mediaPhone {
    font-size: 28px;
  }
}

.hero__list {
  color: $black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 80px;

  figcaption {
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  li {
    font-weight: 400;

    &::before {
      content: '-';
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @include mediaTablet {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.hero__btn {
  display: flex;
  gap: 30px;

  @include mediaTablet {
    justify-content: center;
    gap: 20px;
  }
}
