body {
  font-family: 'Lato', sans-serif;
  background-color: $footer-bg;
  color: $white;
  font-size: 13px;
}

a {
  color: $white;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent;
  }
}

.main {
  background: $dark;
  margin-bottom: 80px;

  @media screen and (max-width: 1032px) {
    margin-bottom: 140px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.stopscroll {
  overflow: hidden;
}

.btn {
  width: 100%;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 4px;

  &_blue {
    color: $white;
    background: $accent;
    border: 1px solid $white;
    width: 183px;
  }

  &_light {
    color: #2A2B30;
    background: $white;
    border: 1px solid #6F6D7B;
    width: 183px;
  }

  &_form {
    color: $white;
    background: $accent;
    border: 1px solid $white;
  }

  &:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.