@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap');

// Colors
$dark: #222831;
$accent: #3E9CDC;
$white: #eee;
$black: #000;
$gray: #BBB;
$footer-bg: #3D4050;

// Media
$tablet: 699px;
$phone: 390px;